.Alarm{
    @include screen;
    // @include flexcenter(column);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: $primary-color;
    overflow-y: auto;
    overflow-x: hidden;
    grid-row-gap: 12px;
    padding-top: 3px;
    position: relative;

    // Add Alarm Form
    & .add-alarm-form{
        position: fixed;
        overflow: hidden;
        top: 45%;
        left: 50%;
        width: 318px;
        height:500px;
        border-radius: 7px;
        background-color: #2E2E2E;
        border: 0.5px solid #101010;
        transform: translate(-50%, -50%);
        font-family: Poppins_Regular;

        @include flexcenter(column);

        & .heading{
            font-size: 19px;
            color: $secondary-color;
            text-align: start;

        }
        // up buttons
        & .upbuttons{
            @include flexcenter(row);
            justify-content: space-around;
            width: 75%;


            & button{
                border: none;
                border: none;
                background-color: #00000021;
                border-radius: 7px;
                margin-bottom: 5px;
                & img{
                    width: 30px;
                }
            }
        }

        & .downbuttons{
            @include flexcenter(row);
            justify-content: space-around;
            width: 75%;


            & button{
                border: none;
                border: none;
                background-color: #00000021;
                border-radius: 7px;
                margin-bottom: 5px;
                & img{
                    width: 30px;
                    transform: rotate(180deg);
                }
            }
            
        }
        .clicked{
            transform: translateY(2px);
        }

        & .time-selector{
            width: 75%;
            height: 100px;
            border: 1px solid #fff;
            border-radius: 5px;
            font-size: 40px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-around;
            & span{
                font-size: 40px;
                color: $secondary-color;
                
            
                
            }

            & span:first-child{
                width: 40px;
            }

            & span:nth-child(2){
                width: 40px;
            }
            & span:last-child{
                width: 56px;
            }
            .text-animate-up{
                animation: text_up;
                animation-timing-function: linear;
                animation-duration: 0.2s;
            }

            .text-animate-down{
                animation: text_down;
                animation-timing-function: linear;
                animation-duration: 0.2s;
            }
        }

        @keyframes text_up {
            0%{
                opacity: 0;
                transform: translateY(20px)
            };
            100%{
                opacity: 1;
                transform: translateY(0)
            }
            
        }
        @keyframes text_down {
            0%{
                opacity: 0;
                transform: translateY(-20px)
            };
            100%{
                opacity: 1;
                transform: translateY(0)
            }
            
        }




        // alarm label 
        & .alarm-label-input{
            @include flexcenter(row);
            justify-content: space-around;
            width: 75%;
            margin-top: 10px;
            & img{
                width: 20px;
            }

            & input{
                height: 25px;
                width: 200px;
                background-color: rgb(255 255 255 / 20%);
                border: 0.5px solid #707070;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Poppins_Regular';
                color: #a5a3a3;
                outline: none;

                &::placeholder{
                    font-family: 'Poppins_Regular';
                    color: #a5a3a3;

                }
            }
        }

        & .alarm-repeat-controls{
            @include flexcenter(row);
            justify-content: space-between;
            width: 60%;
            margin-top: 10px;


            & .repeat-checkbox{
                width: 15px;
                height: 15px;
                border: 1px solid #fff;
                border-radius: 3px;
            }

            & span{
                font-size: 15px;
                color: $secondary-color;
            }
        }

        & .repeatation{
            @include flexcenter(row);
            justify-content: flex-start;
            padding-left: 9px;
            user-select:none ;
            margin-top: 10px;
            & span{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #4CABBF;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 15px;
                color: #fff;
                justify-content: center;
                align-content: center;
                margin: 0 3px;
                border: 0.5px solid $feature-color;

            }

            .deselect{
                background-color: transparent;
                border: 0.5px solid $feature-color;
                color: $feature-color;
                transform: scale(-0.5px);

            }
        }


        // tune select

        & .alarm-tune-input{
            @include flexcenter(row);
            justify-content: space-between;
            width: 75%;
            margin-top: 15px;

            & img{
                width: 20px;
            }
            & input{
                height: 25px;
                width: 200px;
                background-color: rgb(255 255 255 / 20%);
                border: 0.5px solid #707070;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Poppins_Regular';
                color: #a5a3a3;
                outline: none;

                &::placeholder{
                    font-family: 'Poppins_Regular';
                    color: #a5a3a3;

                }
            }
        }

        // snooze time select

        
        & .alarm-snooze-input{
            @include flexcenter(row);
            justify-content: space-between;
            width: 75%;
            margin-top: 15px;

            & img{
                width: 20px;
            }
            & input{
                height: 25px;
                width: 200px;
                background-color: rgb(255 255 255 / 20%);
                border: 0.5px solid #707070;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Poppins_Regular';
                color: #a5a3a3;
                outline: none;
                &::placeholder{
                    font-family: 'Poppins_Regular';
                    color: #a5a3a3;

                }

            }
        }

        & .buttons{
            @include flexcenter(row);
            justify-content: space-between;
            margin-top: 20px;
            & button{
                font-size: 15px;
                font-family: 'Poppins_Regular';
                width: 124px;
                height: 32px;
                background-color: $primary-color;
                border: 2px solid #3B3B3B;
                border-radius: 5px;
                color: $secondary-color;
                margin: 0 5px;


            }
            & button:first-child{
                color: $primary-color;
                background-color: $feature-color;
                border-color: $feature-border-color;
            }
        }
        
    }
    .hide-menu{
        height: 0;
        display: none;
    }
    // hide add menu
    

    & .addButton{
        position: fixed;
        bottom: 2%;
        right: 4%;
        width: 100px;
        height: 53px;
        background-color: #3B3B3B;
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        z-index: 1;
        @include flexcenter(row);
        & button{
            border: none;
            background-color: transparent;
            & img{
                width: 25px;
            }
        }
    }
    

    & .alarm-box{
        user-select: none;
        width: 96%;
        height: 267px;
        margin: 0 10px;
        margin-right: 10px;
        border-radius: 10px;
        background-color: #3B3B3B;
        display: flex;
        flex-direction: column;

        & .alarm-time{
            font-size: 90px;
            color: $secondary-color;
            text-align: center;
        }

        & .alarm-controls{
            @include flexcenter(row);
            justify-content: space-between;
            padding: 0 10px;
            margin-bottom: 10px;

            

            & .alarm-label{
                font-size: 30px;
                color: rgb(255 255 255 / 50%);
                text-align: center;
            }
            & .switch{
                width: 53px;
                height: 26px;
                border: 2px solid #fff;
                border-radius: 18px;
                position: relative;
                & .nob{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 50%;
                    top: 50%;
                    left: 25%;
                    transform: translate(-50%,-50%);
                    cursor: pointer;
                    
                }
            
                // class for switching the on/off switch
                .on{
                    background-color: #4CABBF;
                    border: 1px solid #2C6D7B;
                    left: 75%;
                }
            

                
            }

            

        }



        & .repeatation{
            @include flexcenter(row);
            justify-content: flex-start;
            padding-left: 9px;
            & span{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #4CABBF;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 15px;
                color: #fff;
                justify-content: center;
                align-content: center;
                margin: 0 3px;
                border: 0.5px solid $feature-color;

            }

            .deselect{
                background-color: transparent;
                border: 0.5px solid $feature-color;
                color: $feature-color;
                transform: scale(-0.5px);

            }
        }
    }
}