.Alarm{
    @include screen;
    // @include flexcenter(column);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--primary-color);
    overflow-y: auto;
    overflow-x: hidden;
    grid-row-gap: 12px;
    padding-top: 3px;
    position: relative;


    // empty alarm content
    & .empty-message{
        width: 100%;
        height: 100%;
        @include flexcenter(column);
        justify-content: center;
        & h1{
            color: var(--default);
            font-size: 25px;
        }

        & p{
            color: var(--default);
            font-size: 13px;
            margin-top: -15px;

        }
        

    }
    .hide-message{
        display: none;
    }

    // Add Alarm Form
    & .add-alarm-form{
        position: fixed;
        overflow: hidden;
        top: 45%;
        left: 50%;
        width: 318px;
        height:500px;
        border-radius: 7px;
        background-color: var(--primary-color);
        border: 0.5px solid var(--border-color-form);
        transform: translate(-50%, -50%);
        font-family: Poppins_Regular;

        @include flexcenter(column);

        & .heading{
            font-size: 19px;
            color: var(--secondary-color);
            text-align: start;

        }
        // up buttons
        & .upbuttons{
            @include flexcenter(row);
            justify-content: space-around;
            width: 75%;


            & button{
                border: none;
                border: none;
                background-color: #00000021;
                border-radius: 7px;
                margin-bottom: 5px;
                & img{
                    width: 30px;
                }
            }
        }

        & .downbuttons{
            @include flexcenter(row);
            justify-content: space-around;
            width: 75%;


            & button{
                border: none;
                border: none;
                background-color: #00000021;
                border-radius: 7px;
                margin-bottom: 5px;
                & img{
                    width: 30px;
                    transform: rotate(180deg);
                }
            }
            
        }
        .clicked{
            transform: translateY(2px);
        }

        & .time-selector{
            width: 75%;
            height: 100px;
            border: 1px solid var(--border-color-form);
            border-radius: 5px;
            font-size: 40px;
            color: var(--default);
            display: flex;
            align-items: center;
            justify-content: space-around;
            & span{
                font-size: 40px;
                color: var(--secondary-color);
                
            
                
            }

            & span:first-child{
                width: 40px;
            }

            & span:nth-child(2){
                width: 40px;
            }
            & span:last-child{
                width: 56px;
            }
            .text-animate-up{
                animation: text_up;
                animation-timing-function: linear;
                animation-duration: 0.2s;
            }

            .text-animate-down{
                animation: text_down;
                animation-timing-function: linear;
                animation-duration: 0.2s;
            }
        }

        @keyframes text_up {
            0%{
                opacity: 0;
                transform: translateY(20px)
            };
            100%{
                opacity: 1;
                transform: translateY(0)
            }
            
        }
        @keyframes text_down {
            0%{
                opacity: 0;
                transform: translateY(-20px)
            };
            100%{
                opacity: 1;
                transform: translateY(0)
            }
            
        }




        // alarm label 
        & .alarm-label-input{
            @include flexcenter(row);
            justify-content: space-around;
            width: 75%;
            margin-top: 10px;
            & img{
                width: 20px;
            }

            & input{
                height: 25px;
                width: 200px;
                background-color: rgb(255 255 255 / 20%);
                border: 0.5px solid #707070;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Poppins_Regular';
                color: #a5a3a3;
                outline: none;

                &::placeholder{
                    font-family: 'Poppins_Regular';
                    color: #a5a3a3;

                }
            }
        }

        & .alarm-repeat-controls{
            @include flexcenter(row);
            justify-content: space-between;
            width: 60%;
            margin-top: 10px;


            & .repeat-checkbox{
                width: 15px;
                height: 15px;
                border: 1px solid var(--default);
                border-radius: 3px;
            }

            & span{
                font-size: 15px;
                color: var(--secondary-color);
            }
        }

        & .repeatation{
            @include flexcenter(row);
            justify-content: flex-start;
            padding-left: 9px;
            user-select:none ;
            margin-top: 10px;
            & span{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #4CABBF;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 15px;
                color: var(--default);
                justify-content: center;
                align-content: center;
                margin: 0 3px;
                border: 0.5px solid var(--feature-color);

            }

            .deselect{
                background-color: transparent;
                border: 0.5px solid var(--feature-color);
                color: var(--feature-color);
                transform: scale(-0.5px);

            }
        }


        // tune select

        & .alarm-tune-input{
            @include flexcenter(row);
            justify-content: space-between;
            width: 75%;
            margin-top: 15px;
            position: relative;

            & img{
                width: 20px;
            }
            & input{
                height: 25px;
                width: 200px;
                background-color: rgba(104, 35, 35, 0.2);
                border: 0.5px solid #707070;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Poppins_Regular';
                color: #a5a3a3;
                outline: none;

                &::placeholder{
                    font-family: 'Poppins_Regular';
                    color: #a5a3a3;

                }
            }

            & .select-tune{
                font-size: 18px;
                background: var(--alarm-input-bg);
                width: 86%;
                border-radius: 5px;
                align-items: center;
                text-align: center;
                cursor: pointer;
            }

            & .tunes{
                z-index: 2;
                font-size: 15px;
                position: absolute;
                top: 34px;
                left: 14%;
                background: #fff;
                width: 86%;
                border: 1px solid var(--border-color-form);
                border-radius: 5px;
                display: none;

                & li {
                    list-style: none;
                    text-align: center;
                    cursor: pointer;

                    &:hover{
                        background: rgba(0, 0, 0, 0.2);

                    }
                }
                
            }
            & .active{
                display: block;
            }

            
        }

        // snooze time select

        
        & .alarm-snooze-input{
            @include flexcenter(row);
            justify-content: space-between;
            width: 75%;
            margin-top: 15px;
            position: relative;

            & img{
                width: 20px;
            }
            

            & .select-snooze{
                font-size: 18px;
                background: var(--alarm-input-bg);
                width: 86%;
                border-radius: 5px;
                align-items: center;
                text-align: center;
                cursor: pointer;
            }

            & .snoozes{
                font-size: 15px;
                position: absolute;
                top: -100px;
                left: 14%;
                background: #fff;
                border: 1px solid var(--border-color-form);
                width: 86%;
                border-radius: 5px;
                display: none;


                & li {
                    list-style: none;
                    text-align: center;
                    cursor: pointer;

                    &:hover{
                        background: rgba(0, 0, 0, 0.2);

                    }
                }
                
            }
            & .active{
                display: block;
            }
        }

        & .buttons{
            @include flexcenter(row);
            justify-content: space-between;
            margin-top: 20px;
            & button{
                font-size: 15px;
                font-family: 'Poppins_Regular';
                width: 124px;
                height: 32px;
                background-color: var(--primary-color);
                border: 2px solid #3B3B3B;
                border-radius: 5px;
                color: var(--secondary-color);
                margin: 0 5px;
                cursor: pointer;

                &:active{
                    background-color: rgb(160, 158, 158);
                }


            }
            & button:first-child{
                color: var(--primary-color);
                background-color: var(--feature-color);
                border-color: var(--feature-border-color);
                &:active{
                    background-color: #008fac;

                }
            }
        }
        
    }
    .hide-menu{
        height: 0;
        display: none;
    }
    // hide add menu
    

    & .addButton{
        position: fixed;
        bottom: 2%;
        right: 4%;
        width: 100px;
        height: 53px;
        background-color: #3B3B3B;
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        z-index: 1;
        @include flexcenter(row);
        & button{
            outline: none;
            border: none;
            padding: 8px 9px;
            background-color: transparent;
            border-radius: 5px;
            margin: auto 2px auto 3px;
            & img{
                width: 25px;
            }

            &:active{
                background-color: #505050;
            }
        }
    }
    

    & .alarm-box{
        user-select: none;
        width: 96%;
        height: 267px;
        margin: 0 10px;
        margin-right: 10px;
        border-radius: 10px;
        background-color: var(--alarm-add-form-bg);
        display: flex;
        flex-direction: column;

        & .alarm-time{
            font-size: 90px;
            color: var(--secondary-color);
            text-align: center;
        }

        & .alarm-controls{
            @include flexcenter(row);
            justify-content: space-between;
            padding: 0 10px;
            margin-bottom: 10px;

            

            & .alarm-label{
                font-size: 30px;
                color: rgb(255 255 255 / 50%);
                text-align: center;
            }
            & .switch{
                width: 53px;
                height: 26px;
                border: 2px solid var(--default);
                border-radius: 18px;
                position: relative;
                & .nob{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 50%;
                    top: 50%;
                    left: 25%;
                    transform: translate(-50%,-50%);
                    cursor: pointer;
                    
                }
            
                // class for switching the on/off switch
                .on{
                    background-color: #4CABBF;
                    border: 1px solid #2C6D7B;
                    left: 75%;
                }
            

                
            }

            

        }



        & .repeatation{
            @include flexcenter(row);
            justify-content: flex-start;
            padding-left: 9px;
            & span{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #4CABBF;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 15px;
                color: #fff;
                justify-content: center;
                align-content: center;
                margin: 0 3px;
                border: 0.5px solid var(--feature-color);

            }

            .deselect{
                background-color: transparent;
                border: 0.5px solid var(--feature-color);
                color: var(--feature-color);
                transform: scale(-0.5px);

            }
        }

        & .delete-controls{
            display: flex;
            align-items:flex-start;
            justify-content: end;

            & button{
                margin: 0 7px;
                width: 45px;
                height: 33px;
                background-color: transparent;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
                & i{
                    font-size: 20px;
                    color: rgb(237, 112, 112);
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.2);

                }
            }

            
        }
        
    }
}

.hide-btn{
    display: none;
}
