
// Dark Mode Colors

$primary-color:#2E2E2E;
$secondary-color:#ffffff;
$feature-color:#4CABBF;
$feature-border-color:#2C6D7B;



$side-menu-hover:#ffffff1a;

        //text
        $primary-font-color:#FFFFFF;
        $secondary-font-color:rgba(255,255,255,0.45);
        



$half-white: rgba(255,255,255,0.5);
    