@font-face {
    font-family: Poppins_Regular;
    src: url('../Fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins_Medium;
    src: url('../Fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins_Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins_Thin;
    src: url('../Fonts/Poppins-Thin.ttf');
}
@font-face {
    font-family: Poppins_Light;
    src: url('../Fonts/Poppins-Light.ttf');
}