.Stopwatch{
    @include screen;
    @include flexcenter(column);

    & .runner{
        font-size: 170px;
        color:var(--default);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        & .hours{
            width: 100px;

        }
        & .minutes{
            width: 100px;


        }
        & .seconds{
            width: 100px;


        }
        & .milli-secs{
            width: 100px;
            font-size: 20px;
        }
    }

    // indicates

    & .indicates{
        @include flexcenter(row);
        width: 67%;
        justify-content: space-around;
        
        & span{
            font-size: 40px;
            color: #fff;
        }
    }

    & .stopwatch-controls{
        @include flexcenter(row);

        margin-top: 15px;
        & button{
            width: 70px;
            height: 70px;
            background-color: rgba(255,255,255,0.1);
            border: none;
            border-radius: 50%;
            @include flexcenter(row);
            margin: 0 5px;
            box-shadow: 2px 2px 10px rgb(255 255 255 / 7%), -2px -2px 10px rgb(255 255 255 / 7%);

            & img{
                width: 35px;
            }

        }

        & button:first-child{
            background-color: var(--feature-color);
        }
        & button:nth-child(2){
            border: 1px solid #ffffff30;
        }

        & button:last-child{
            border: 1px solid #ffffff30;

            & i{
                font-size: 35px;
                color: var(--primary-color);
                transform:rotateY(180deg);
            }
        }
    }
}