
.dark-theme {
    --primary-color: #2e2e2e;
    --secondary-color: #ffffff;
    --feature-color: #4cabbf;
    --feature-border-color: #2c6d7b;
    --default: #fff;
    --side-menu-hover: #ffffff1a;
    --primary-font-color: #ffffff;
    --secondary-font-color: rgba(255, 255, 255, 0.45);
    --half-white: rgba(255, 255, 255, 0.5);
    --border-color-form:#101010;
    --alarm-input-bg:#fff;
    --alarm-add-form-bg:#3B3B3B;
    --alarm-label-color:rgb(255 255 255 /50%);
}

.light_theme {
    --primary-color: #fff;
    --secondary-color: #2e2e2e;
    --feature-color: #4cabbf;
    --feature-border-color: #2c6d7b;
    --default: #2e2e2e;
    --side-menu-hover: #ffffff1a;
    --primary-font-color: #2e2e2e;
    --secondary-font-color: rgba(255, 255, 255, 0.1);
    --half-white: rgba(255, 255, 255, 0.5);
    --border-color-form:#313131;
    --alarm-input-bg:rgb(255, 255, 255);
    --alarm-add-form-bg:#bdbdbd;
    --alarm-label-color:rgba(0, 0, 0, 0.5);




}
