.Timer{
    @include screen;
    padding-top: 10px;
    
    & .timer-box{
        user-select: none;
        width: 96%;
        height: 267px;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #3B3B3B;
        @include flexcenter(column);

        & .label_controls{
            width: 100%;
            @include flexcenter(row);
            justify-content: space-between;

            & .label{
                font-size: 20px;
                color: rgba(255, 255, 255, 0.5);
                padding-left: 20px;
               
            }

            
        }

        & .circle{
            width: 150px;
            height: 150px;
            border: 10px solid var(--half-white);
            border-radius:50%;
            @include flexcenter(row);
            color: #000;

        }
        & .timer-value{
            font-size: 35px;
            color:#fff;
        }

        & .timer-controls{
            @include flexcenter(row);

            margin-top: 15px;
            & button{
                width: 40px;
                height: 40px;
                background-color: var(--half-white);
                border: none;
                border-radius: 50%;
                @include flexcenter(row);
                margin: 0 5px;

                & img{
                    width: 18px;
                }

            }

            & button:first-child{
                background-color: var(--feature-color);
            }
            & button:last-child{
                background-color: var(--half-white);
                border: 1px solid #fff;

                & i{
                    font-size: 20px;
                    color: var(--primary-color);
                    transform:rotateY(180deg);
                }
            }
        }
    }
}