@import 'fonts';
@import 'theme';
@import 'animations';
@import 'properties';
@import 'side_menu';
@import 'clock';
@import 'titleBar';
@import 'splash_screen';
@import 'alarm';
@import 'timer';
@import 'stopwatch';
@import 'settings';





html,body{
    margin: 0;
    padding: 0;
    font-family: Poppins_Regular;
    outline: none;

    // --primary-color: #2e2e2e;
    // --secondary-color: #ffffff;
    // --feature-color: #4cabbf;
    // --feature-border-color: #2c6d7b;

    // --white: #fff;

    // --side-menu-hover: #ffffff1a;

    // //text
    // --primary-font-color: #ffffff;
    // --secondary-font-color: rgba(255, 255, 255, 0.45);

    // // --primary-font-color:rgba(255,255,255,0.45);
    // // --primary-font-color:rgba(255,255,255,0.45);
    // // --secondary-font-color:#FFFFFF;

    // --half-white: rgba(255, 255, 255, 0.5);

}
// ::-webkit-scrollbar{
//     width: 0px;
// }

.ClockApp{
    width: 100%;
    height: 100%;

    & .AppScreen{
        width: 100%;
        height: 570px;
        overflow: hidden;
    }
}


.hidden{
    display: none;
}


@media(max-width: 600px) {
    .AppScreen{
        height: 698px;
    }
    
}

