@import 'fonts';
@import 'colors';
@import 'properties';
@import 'side_menu';
@import 'clock';
@import 'titleBar';
@import 'splash_screen';



html,body{
    margin: 0;
    padding: 0;
    font-family: Poppins_Regular;
}

.ClockApp{
    width: 100%;
    height: 100%;

    & .AppScreen{
        width: 100%;
        height: 570px;
        overflow: hidden;
    }
}


.hidden{
    display: none;
}

