@font-face {
  font-family: Poppins_Regular;
  src: url("../Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins_Medium;
  src: url("../Fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins_Bold;
  src: url("../Fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins_Thin;
  src: url("../Fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: Poppins_Light;
  src: url("../Fonts/Poppins-Light.ttf");
}
.invisible {
  visibility: hidden;
}

.Clock {
  background-color: #2E2E2E;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins_Regular;
}
.Clock .DayNight {
  color: #FFFFFF;
  font-size: 50px;
}
.Clock .Time {
  font-size: 110px;
  color: #FFFFFF;
}
.Clock .Today {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 140px;
}
.Clock .Today .slash {
  width: 2px;
  height: 45px;
  background-color: #ffffff;
  margin: 0 10px;
}
.Clock .ChangeClock {
  border: 2px solid #fff;
  border-radius: 25px;
  width: 359px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  font-family: Poppins_Regular;
  position: absolute;
  bottom: 7%;
}
.Clock .ChangeClock button {
  width: 50%;
  height: 40px;
  background-color: #4CABBF;
  border: 1px solid #2C6D7B;
  border-radius: 20px;
  font-size: 25px;
  font-family: Poppins_Regular;
  text-align: center;
  color: #2E2E2E;
  padding-bottom: 10px;
}

.TitleBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: #2E2E2E;
  -webkit-app-region: drag;
}
.TitleBar .TitleBarButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: none;
}
.TitleBar .TitleBarButtons button {
  margin: 0 5px;
  background-color: #2E2E2E;
  border: none;
  align-items: center;
}
.TitleBar .TitleBarButtons button img {
  width: 20px;
}
.TitleBar .TitleBarButtons button .max {
  width: 15px;
}

.splash-screen {
  background-color: #2E2E2E;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splash-screen .Name {
  font-size: 60px;
  color: #FFFFFF;
  margin-bottom: 0;
  line-height: 60%;
  -webkit-animation: present;
          animation: present;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.splash-screen .author {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.45);
  -webkit-animation: present;
          animation: present;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes present {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes present {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes welcome {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welcome {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.welcome {
  -webkit-animation: welcome;
          animation: welcome;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins_Regular;
}

.ClockApp {
  width: 100%;
  height: 100%;
}
.ClockApp .AppScreen {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.hidden {
  display: none;
}