@font-face {
  font-family: Poppins_Regular;
  src: url("../Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins_Medium;
  src: url("../Fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins_Bold;
  src: url("../Fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins_Thin;
  src: url("../Fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: Poppins_Light;
  src: url("../Fonts/Poppins-Light.ttf");
}
.invisible {
  visibility: hidden;
}

.Clock {
  background-color: #2E2E2E;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins_Regular;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Clock .Digital-Clock {
  font-family: Poppins_Regular;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.Clock .Digital-Clock .DayNight {
  color: #FFFFFF;
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Clock .Digital-Clock .Time {
  font-size: 110px;
  color: #FFFFFF;
  transition: 0.5s;
}
.Clock .Digital-Clock .Today {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 140px;
}
.Clock .Digital-Clock .Today .slash {
  width: 2px;
  height: 45px;
  background-color: #ffffff;
  margin: 0 10px;
}
.Clock .Analog-Clock {
  width: 100%;
  height: 0vh;
  font-family: Poppins_Regular;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
.Clock .Analog-Clock .clock-circle {
  position: absolute;
  border: 10px solid #ffffff;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-size: 40px;
  top: 20%;
}
.Clock .Analog-Clock .clock-circle span {
  color: #4CABBF;
}
.Clock .Analog-Clock .clock-circle .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1000;
}
.Clock .Analog-Clock .clock-circle .clock__hour, .Clock .Analog-Clock .clock-circle .clock__minutes, .Clock .Analog-Clock .clock-circle .clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}
.Clock .Analog-Clock .clock-circle .clock__hour {
  width: 105px;
  height: 105px;
}
.Clock .Analog-Clock .clock-circle .clock__hour::before {
  content: "";
  position: absolute;
  background-color: #2C6D7B;
  width: 0.25rem;
  height: 3rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}
.Clock .Analog-Clock .clock-circle .clock__minutes {
  width: 136px;
  height: 136px;
}
.Clock .Analog-Clock .clock-circle .clock__minutes::before {
  content: "";
  position: absolute;
  background-color: #4CABBF;
  width: 0.25rem;
  height: 4rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}
.Clock .Analog-Clock .clock-circle .clock__seconds {
  width: 130px;
  height: 130px;
}
.Clock .Analog-Clock .clock-circle .clock__seconds::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0.125rem;
  height: 5rem;
  border-radius: 0.75rem;
  z-index: 1;
}
.Clock .Analog-Clock .clock-circle .line {
  width: 3px;
  height: 30px;
  background-color: #ffffff;
}
.Clock .Analog-Clock .clock-circle .num1 {
  position: absolute;
  top: 12%;
  right: 25%;
  transform: rotate(35deg);
}
.Clock .Analog-Clock .clock-circle .num2 {
  position: absolute;
  top: 27%;
  right: 14%;
  transform: rotate(68deg);
}
.Clock .Analog-Clock .clock-circle .num12 {
  position: absolute;
  top: 0;
}
.Clock .Analog-Clock .clock-circle .num3 {
  position: absolute;
  right: 4%;
}
.Clock .Analog-Clock .clock-circle .num4 {
  position: absolute;
  top: 65%;
  right: 13%;
  transform: rotate(131deg);
}
.Clock .Analog-Clock .clock-circle .num5 {
  position: absolute;
  top: 82%;
  right: 26%;
  transform: rotate(150deg);
}
.Clock .Analog-Clock .clock-circle .num6 {
  position: absolute;
  bottom: -2%;
}
.Clock .Analog-Clock .clock-circle .num7 {
  position: absolute;
  top: 82%;
  right: 70%;
  transform: rotate(212deg);
}
.Clock .Analog-Clock .clock-circle .num8 {
  position: absolute;
  top: 68%;
  right: 83%;
  transform: rotate(58deg);
}
.Clock .Analog-Clock .clock-circle .num9 {
  position: absolute;
  left: 4%;
}
.Clock .Analog-Clock .clock-circle .num10 {
  position: absolute;
  top: 27%;
  right: 86%;
  transform: rotate(118deg);
}
.Clock .Analog-Clock .clock-circle .num11 {
  position: absolute;
  top: 12%;
  right: 72%;
  transform: rotate(-35deg);
}
.Clock .Analog-Clock .DayNight {
  color: #FFFFFF;
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 5%;
}
.Clock .Analog-Clock .Today {
  font-size: 30px;
  color: #FFFFFF;
  position: absolute;
  bottom: 20%;
}
.Clock .Analog-Clock .Today .slash {
  width: 2px;
  height: 45px;
  background-color: #ffffff;
  margin: 0 10px;
}
.Clock .ChangeClock {
  border: 2px solid #fff;
  border-radius: 25px;
  width: 359px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  font-family: Poppins_Regular;
  position: absolute;
  bottom: 7%;
}
.Clock .ChangeClock button {
  width: 50%;
  height: 40px;
  background-color: #4CABBF;
  border: 1px solid #2C6D7B;
  border-radius: 20px;
  font-size: 25px;
  font-family: Poppins_Regular;
  text-align: center;
  color: #2E2E2E;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.TitleBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: #2E2E2E;
  -webkit-app-region: drag;
}
.TitleBar .TitleBarButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: none;
}
.TitleBar .TitleBarButtons button {
  margin: 0 5px;
  background-color: #2E2E2E;
  border: none;
  align-items: center;
}
.TitleBar .TitleBarButtons button img {
  width: 20px;
}
.TitleBar .TitleBarButtons button .max {
  width: 15px;
}

.splash-screen {
  background-color: #2E2E2E;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splash-screen .Name {
  font-size: 60px;
  color: #FFFFFF;
  margin-bottom: 0;
  line-height: 60%;
  -webkit-animation: present;
          animation: present;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.splash-screen .author {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.45);
  -webkit-animation: present;
          animation: present;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes present {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes present {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes welcome {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welcome {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.welcome {
  -webkit-animation: welcome;
          animation: welcome;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins_Regular;
}

.ClockApp {
  width: 100%;
  height: 100%;
}
.ClockApp .AppScreen {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.hidden {
  display: none;
}