@font-face {
  font-family: Poppins_Regular;
  src: url("../Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins_Medium;
  src: url("../Fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins_Bold;
  src: url("../Fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins_Thin;
  src: url("../Fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: Poppins_Light;
  src: url("../Fonts/Poppins-Light.ttf");
}
.dark_theme {
  --primary-color: #2e2e2e;
  --secondary-color: #ffffff;
  --feature-color: #4cabbf;
  --feature-border-color: #2c6d7b;
  --default: #fff;
  --side-menu-hover: #ffffff1a;
  --primary-font-color: #ffffff;
  --secondary-font-color: rgba(255, 255, 255, 0.45);
  --half-white: rgba(255, 255, 255, 0.5);
  --border-color-form:#101010;
  --alarm-input-bg:#fff;
  --alarm-add-form-bg:#3B3B3B;
  --alarm-label-color:rgb(255 255 255 /50%);
  --settings-option-bg:rgba(255, 255, 255, 0.3);
  --sidemenu-bg:#262626bf;
}

.light_theme {
  --primary-color: #fff;
  --secondary-color: #2e2e2e;
  --feature-color: #4cabbf;
  --feature-border-color: #2c6d7b;
  --default: #2e2e2e;
  --side-menu-hover: #ffffff1a;
  --primary-font-color: #2e2e2e;
  --secondary-font-color: rgba(255, 255, 255, 0.1);
  --half-white: rgba(255, 255, 255, 0.5);
  --border-color-form:#313131;
  --alarm-input-bg:rgb(255, 255, 255);
  --alarm-add-form-bg:#bdbdbd;
  --alarm-label-color:rgba(0, 0, 0, 0.5);
  --settings-option-bg:rgb(158, 152, 152);
  --sidemenu-bg:rgb(165 165 165 / 59%);
}

@-webkit-keyframes settings_welcome {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes settings_welcome {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.invisible {
  visibility: hidden;
}

.side-menu {
  height: 100vh;
  /* width: 300px; */
  background-color: var(--sidemenu-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 300px;
  border-right: 0.1px solid #707070;
  width: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(21px) saturate(2.5);
          backdrop-filter: blur(21px) saturate(2.5);
  transition: width 0.2s ease-out;
}
.side-menu ul {
  width: 100%;
  font-size: 15px;
  color: #fff;
  list-style: none;
  margin-top: 25px;
  padding-left: 0px;
}
.side-menu ul li {
  margin: 5px 0;
  border-radius: 5px;
  padding: 8px 0;
  padding-left: 29px;
  cursor: pointer;
}
.side-menu ul li::before {
  transition: all 0.5s;
  content: "";
  position: absolute;
  transform-origin: center;
  width: 5px;
  height: 0px;
  border-radius: 5px;
  left: 3%;
  background-color: var(--feature-color);
  transform: translateY(-50%);
}
.side-menu ul li:hover::before {
  height: 20px;
  transform: translateY(0%);
}
.side-menu ul li:hover {
  background-color: var(--side-menu-hover);
}
.side-menu > li {
  width: 86%;
  font-size: 20px;
  color: #fff;
  list-style: none;
  padding-left: 33px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.side-menu > li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 0px;
  border-radius: 5px;
  left: 5%;
  background-color: var(--feature-color);
}
.side-menu > li:hover::before {
  height: 30px;
}
.side-menu > li:hover {
  background-color: var(--side-menu-hover);
}

.show {
  width: 300px;
}

@media (min-width: 800px) {
  .side-menu {
    height: 100%;
    width: 350px;
    position: static;
    background: #262626;
  }
  .side-menu ul {
    margin-top: 0px;
  }
}
.Clock {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins_Regular;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--secondary-color);
}
.Clock .Digital-Clock {
  font-family: Poppins_Regular;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.Clock .Digital-Clock .DayNight {
  color: var(--primary-font-color);
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Clock .Digital-Clock .Time {
  font-size: 110px;
  color: var(--primary-font-color);
  transition: 0.5s;
}
.Clock .Digital-Clock .Today {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--primary-font-color);
  margin-bottom: 140px;
}
.Clock .Digital-Clock .Today .slash {
  width: 2px;
  height: 45px;
  background-color: var(--secondary-color);
  margin: 0 10px;
}
.Clock .Analog-Clock {
  width: 100%;
  height: 0vh;
  font-family: Poppins_Regular;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
.Clock .Analog-Clock .clock-circle {
  position: absolute;
  border: 10px solid var(--secondary-color);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-size: 40px;
  top: 20%;
}
.Clock .Analog-Clock .clock-circle span {
  color: var(--feature-color);
}
.Clock .Analog-Clock .clock-circle .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  z-index: 0;
}
.Clock .Analog-Clock .clock-circle .clock__hour, .Clock .Analog-Clock .clock-circle .clock__minutes, .Clock .Analog-Clock .clock-circle .clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}
.Clock .Analog-Clock .clock-circle .clock__hour {
  width: 105px;
  height: 105px;
}
.Clock .Analog-Clock .clock-circle .clock__hour::before {
  content: "";
  position: absolute;
  background-color: var(--feature-border-color);
  width: 0.25rem;
  height: 3rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}
.Clock .Analog-Clock .clock-circle .clock__minutes {
  width: 136px;
  height: 136px;
}
.Clock .Analog-Clock .clock-circle .clock__minutes::before {
  content: "";
  position: absolute;
  background-color: var(--feature-color);
  width: 0.25rem;
  height: 4rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}
.Clock .Analog-Clock .clock-circle .clock__seconds {
  width: 130px;
  height: 130px;
}
.Clock .Analog-Clock .clock-circle .clock__seconds::before {
  content: "";
  position: absolute;
  background-color: var(--primary-font-color);
  width: 0.125rem;
  height: 5rem;
  border-radius: 0.75rem;
  z-index: 1;
}
.Clock .Analog-Clock .clock-circle .line {
  width: 3px;
  height: 30px;
  background-color: var(--secondary-color);
}
.Clock .Analog-Clock .clock-circle .num1 {
  position: absolute;
  top: 12%;
  right: 25%;
  transform: rotate(35deg);
}
.Clock .Analog-Clock .clock-circle .num2 {
  position: absolute;
  top: 27%;
  right: 14%;
  transform: rotate(68deg);
}
.Clock .Analog-Clock .clock-circle .num12 {
  position: absolute;
  top: 0;
}
.Clock .Analog-Clock .clock-circle .num3 {
  position: absolute;
  right: 4%;
}
.Clock .Analog-Clock .clock-circle .num4 {
  position: absolute;
  top: 65%;
  right: 13%;
  transform: rotate(131deg);
}
.Clock .Analog-Clock .clock-circle .num5 {
  position: absolute;
  top: 82%;
  right: 26%;
  transform: rotate(150deg);
}
.Clock .Analog-Clock .clock-circle .num6 {
  position: absolute;
  bottom: -2%;
}
.Clock .Analog-Clock .clock-circle .num7 {
  position: absolute;
  top: 82%;
  right: 70%;
  transform: rotate(212deg);
}
.Clock .Analog-Clock .clock-circle .num8 {
  position: absolute;
  top: 68%;
  right: 83%;
  transform: rotate(58deg);
}
.Clock .Analog-Clock .clock-circle .num9 {
  position: absolute;
  left: 4%;
}
.Clock .Analog-Clock .clock-circle .num10 {
  position: absolute;
  top: 27%;
  right: 86%;
  transform: rotate(118deg);
}
.Clock .Analog-Clock .clock-circle .num11 {
  position: absolute;
  top: 12%;
  right: 72%;
  transform: rotate(-35deg);
}
.Clock .Analog-Clock .DayNight {
  color: var(--primary-font-color);
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 5%;
}
.Clock .Analog-Clock .Today {
  font-size: 30px;
  color: var(--primary-font-color);
  position: absolute;
  bottom: 20%;
}
.Clock .Analog-Clock .Today .slash {
  width: 2px;
  height: 45px;
  background-color: var(--secondary-color);
  margin: 0 10px;
}
.Clock .ChangeClock {
  border: 2px solid var(--primary-font-color);
  border-radius: 25px;
  width: 359px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  font-family: Poppins_Regular;
  position: absolute;
  bottom: 7%;
}
.Clock .ChangeClock button {
  width: 50%;
  height: 40px;
  background-color: var(--feature-color);
  border: 1px solid var(--feature-border-color);
  border-radius: 20px;
  font-size: 25px;
  font-family: Poppins_Regular;
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 10px;
}
@-webkit-keyframes change_digital_clock {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes change_digital_clock {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
.Clock .hidebtn {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

@media (min-width: 700px) {
  .Clock .Digital-Clock .DayNight {
    font-size: 60px;
  }
  .Clock .Digital-Clock .Time {
    font-size: 160px;
  }
  .Clock .Digital-Clock .Today {
    font-size: 40px;
  }
  .Clock .Analog-Clock .DayNight {
    font-size: 60px;
  }
  .Clock .Analog-Clock .clock-circle {
    width: 350px;
    height: 350px;
    border-width: 15px;
  }
  .Clock .Analog-Clock .clock-circle span {
    font-size: 48px;
  }
  .Clock .Analog-Clock .clock-circle .clock__hour::before {
    width: 0.35rem;
    height: 5rem;
    transform: translateY(-7px);
  }
  .Clock .Analog-Clock .clock-circle .clock__minutes::before {
    height: 7rem;
    transform: translateY(-19px);
  }
  .Clock .Analog-Clock .clock-circle .clock__seconds::before {
    width: 0.125rem;
    height: 9rem;
    border-radius: 0.75rem;
    z-index: 1;
    transform: translateY(35px);
  }
  .Clock .Analog-Clock .Today {
    font-size: 38px;
    bottom: 17%;
  }
}
.TitleBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: var(--primary-color);
  -webkit-app-region: drag;
}
.TitleBar .HamburgerMenu {
  z-index: 2;
  -webkit-app-region: none;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}
.TitleBar .HamburgerMenu i {
  color: var(--primary-font-color);
}
.TitleBar .IconandName {
  margin-right: 15rem;
}
.TitleBar .IconandName .title {
  font-size: 18px;
  color: #fff;
}
.TitleBar .TitleBarButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: none;
}
.TitleBar .TitleBarButtons button {
  margin: 0 1px;
  border: none;
  background-color: var(--primary-color);
  align-items: center;
  padding: 4px 7px;
}
.TitleBar .TitleBarButtons button img {
  width: 20px;
}
.TitleBar .TitleBarButtons button .max {
  width: 15px;
  padding: 0 7px;
  padding-top: 4px;
}
.TitleBar .TitleBarButtons button:hover {
  background-color: #525252;
}

@media (min-width: 700px) {
  .TitleBar .HamburgerMenu {
    display: none;
  }
  .TitleBar .IconandName {
    margin-left: 5rem;
  }
}
.splash-screen {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 111111111111111110000;
}
.splash-screen .Name {
  font-size: 60px;
  color: var(--secondary-color);
  margin-bottom: 0;
  line-height: 60%;
  -webkit-animation: present;
          animation: present;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.splash-screen .author {
  font-size: 15px;
  color: var(--secondary-color);
  -webkit-animation: present;
          animation: present;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes present {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes present {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes welcome {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes welcome {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.welcome {
  -webkit-animation: welcome;
          animation: welcome;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@media (min-width: 600px) {
  .splash-screen {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .splash-screen .Name {
    font-size: 86px;
  }
  .splash-screen .author {
    font-size: 20px;
  }
}
.Alarm {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: var(--primary-color);
  overflow-y: auto;
  overflow-x: hidden;
  grid-row-gap: 12px;
  padding-top: 3px;
  position: relative;
}
.Alarm::-webkit-scrollbar {
  width: 7px;
}
.Alarm::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.Alarm .empty-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.Alarm .empty-message h1 {
  color: var(--default);
  font-size: 25px;
}
.Alarm .empty-message p {
  color: var(--default);
  font-size: 13px;
  margin-top: -15px;
}
.Alarm .hide-message {
  display: none;
}
.Alarm .add-alarm-form {
  position: fixed;
  overflow: hidden;
  top: 45%;
  left: 50%;
  width: 318px;
  height: 500px;
  border-radius: 7px;
  background-color: var(--primary-color);
  border: 0.5px solid var(--border-color-form);
  transform: translate(-50%, -50%);
  font-family: Poppins_Regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Alarm .add-alarm-form .heading {
  font-size: 19px;
  color: var(--secondary-color);
  text-align: start;
}
.Alarm .add-alarm-form .upbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 75%;
}
.Alarm .add-alarm-form .upbuttons button {
  border: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.1294117647);
  border-radius: 7px;
  margin-bottom: 5px;
}
.Alarm .add-alarm-form .upbuttons button img {
  width: 30px;
}
.Alarm .add-alarm-form .downbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 75%;
}
.Alarm .add-alarm-form .downbuttons button {
  border: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.1294117647);
  border-radius: 7px;
  margin-bottom: 5px;
}
.Alarm .add-alarm-form .downbuttons button img {
  width: 30px;
  transform: rotate(180deg);
}
.Alarm .add-alarm-form .clicked {
  transform: translateY(2px);
}
.Alarm .add-alarm-form .time-selector {
  width: 75%;
  height: 100px;
  border: 1px solid var(--border-color-form);
  border-radius: 5px;
  font-size: 40px;
  color: var(--default);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Alarm .add-alarm-form .time-selector span {
  font-size: 40px;
  color: var(--secondary-color);
}
.Alarm .add-alarm-form .time-selector span:first-child {
  width: 40px;
}
.Alarm .add-alarm-form .time-selector span:nth-child(2) {
  width: 40px;
}
.Alarm .add-alarm-form .time-selector span:last-child {
  width: 56px;
}
.Alarm .add-alarm-form .time-selector .text-animate-up {
  -webkit-animation: text_up;
          animation: text_up;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
.Alarm .add-alarm-form .time-selector .text-animate-down {
  -webkit-animation: text_down;
          animation: text_down;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
@-webkit-keyframes text_up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text_up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes text_down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text_down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Alarm .add-alarm-form .alarm-label-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 75%;
  margin-top: 10px;
}
.Alarm .add-alarm-form .alarm-label-input img {
  width: 20px;
}
.Alarm .add-alarm-form .alarm-label-input input {
  height: 25px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.5px solid #707070;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins_Regular";
  color: #a5a3a3;
  outline: none;
}
.Alarm .add-alarm-form .alarm-label-input input::-moz-placeholder {
  font-family: "Poppins_Regular";
  color: #a5a3a3;
}
.Alarm .add-alarm-form .alarm-label-input input:-ms-input-placeholder {
  font-family: "Poppins_Regular";
  color: #a5a3a3;
}
.Alarm .add-alarm-form .alarm-label-input input::placeholder {
  font-family: "Poppins_Regular";
  color: #a5a3a3;
}
.Alarm .add-alarm-form .alarm-repeat-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 10px;
}
.Alarm .add-alarm-form .alarm-repeat-controls .repeat-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid var(--default);
  border-radius: 3px;
}
.Alarm .add-alarm-form .alarm-repeat-controls span {
  font-size: 15px;
  color: var(--secondary-color);
}
.Alarm .add-alarm-form .repeatation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding-left: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 10px;
}
.Alarm .add-alarm-form .repeatation span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4CABBF;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 15px;
  color: var(--default);
  justify-content: center;
  align-content: center;
  margin: 0 3px;
  border: 0.5px solid var(--feature-color);
}
.Alarm .add-alarm-form .repeatation .deselect {
  background-color: transparent;
  border: 0.5px solid var(--feature-color);
  color: var(--feature-color);
  transform: scale(-0.5px);
}
.Alarm .add-alarm-form .alarm-tune-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 75%;
  margin-top: 15px;
  position: relative;
}
.Alarm .add-alarm-form .alarm-tune-input img {
  width: 20px;
}
.Alarm .add-alarm-form .alarm-tune-input input {
  height: 25px;
  width: 200px;
  background-color: rgba(104, 35, 35, 0.2);
  border: 0.5px solid #707070;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins_Regular";
  color: #a5a3a3;
  outline: none;
}
.Alarm .add-alarm-form .alarm-tune-input input::-moz-placeholder {
  font-family: "Poppins_Regular";
  color: #a5a3a3;
}
.Alarm .add-alarm-form .alarm-tune-input input:-ms-input-placeholder {
  font-family: "Poppins_Regular";
  color: #a5a3a3;
}
.Alarm .add-alarm-form .alarm-tune-input input::placeholder {
  font-family: "Poppins_Regular";
  color: #a5a3a3;
}
.Alarm .add-alarm-form .alarm-tune-input .select-tune {
  font-size: 18px;
  background: var(--alarm-input-bg);
  width: 86%;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.Alarm .add-alarm-form .alarm-tune-input .tunes {
  z-index: 2;
  font-size: 15px;
  position: absolute;
  top: 34px;
  left: 14%;
  background: #fff;
  width: 86%;
  border: 1px solid var(--border-color-form);
  border-radius: 5px;
  display: none;
}
.Alarm .add-alarm-form .alarm-tune-input .tunes li {
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.Alarm .add-alarm-form .alarm-tune-input .tunes li:hover {
  background: rgba(0, 0, 0, 0.2);
}
.Alarm .add-alarm-form .alarm-tune-input .active {
  display: block;
}
.Alarm .add-alarm-form .alarm-snooze-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 75%;
  margin-top: 15px;
  position: relative;
}
.Alarm .add-alarm-form .alarm-snooze-input img {
  width: 20px;
}
.Alarm .add-alarm-form .alarm-snooze-input .select-snooze {
  font-size: 18px;
  background: var(--alarm-input-bg);
  width: 86%;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.Alarm .add-alarm-form .alarm-snooze-input .snoozes {
  font-size: 15px;
  position: absolute;
  top: -100px;
  left: 14%;
  background: #fff;
  border: 1px solid var(--border-color-form);
  width: 86%;
  border-radius: 5px;
  display: none;
}
.Alarm .add-alarm-form .alarm-snooze-input .snoozes li {
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.Alarm .add-alarm-form .alarm-snooze-input .snoozes li:hover {
  background: rgba(0, 0, 0, 0.2);
}
.Alarm .add-alarm-form .alarm-snooze-input .active {
  display: block;
}
.Alarm .add-alarm-form .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-top: 20px;
}
.Alarm .add-alarm-form .buttons button {
  font-size: 15px;
  font-family: "Poppins_Regular";
  width: 124px;
  height: 32px;
  background-color: var(--primary-color);
  border: 2px solid #3B3B3B;
  border-radius: 5px;
  color: var(--secondary-color);
  margin: 0 5px;
  cursor: pointer;
}
.Alarm .add-alarm-form .buttons button:active {
  background-color: rgb(160, 158, 158);
}
.Alarm .add-alarm-form .buttons button:first-child {
  color: var(--primary-color);
  background-color: var(--feature-color);
  border-color: var(--feature-border-color);
}
.Alarm .add-alarm-form .buttons button:first-child:active {
  background-color: #008fac;
}
.Alarm .hide-menu {
  height: 0;
  display: none;
}
.Alarm .alarm-list {
  display: grid;
  grid-gap: 10px;
}
.Alarm .addButton {
  position: fixed;
  bottom: 2%;
  right: 4%;
  width: 100px;
  height: 53px;
  background-color: #3B3B3B;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Alarm .addButton button {
  outline: none;
  border: none;
  padding: 8px 9px;
  background-color: transparent;
  border-radius: 5px;
  margin: auto 2px auto 3px;
}
.Alarm .addButton button img {
  width: 25px;
}
.Alarm .addButton button:active {
  background-color: #505050;
}
.Alarm .alarm-box {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 96%;
  height: 267px;
  margin: 0 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: var(--alarm-add-form-bg);
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.Alarm .alarm-box .alarm-time {
  font-size: 90px;
  color: var(--secondary-color);
  text-align: center;
}
.Alarm .alarm-box .alarm-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}
.Alarm .alarm-box .alarm-controls .alarm-label {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.Alarm .alarm-box .alarm-controls .switch {
  width: 53px;
  height: 26px;
  border: 2px solid var(--default);
  border-radius: 18px;
  position: relative;
}
.Alarm .alarm-box .alarm-controls .switch .nob {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.Alarm .alarm-box .alarm-controls .switch .on {
  background-color: #4CABBF;
  border: 1px solid #2C6D7B;
  left: 75%;
}
.Alarm .alarm-box .repeatation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding-left: 9px;
}
.Alarm .alarm-box .repeatation .card-days {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #4CABBF;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  justify-content: center;
  align-content: center;
  margin: 0 3px;
  border: 0.5px solid var(--feature-color);
}
.Alarm .alarm-box .repeatation .deselect {
  background-color: transparent;
  border: 0.5px solid var(--feature-color);
  color: var(--feature-color);
  transform: scale(-0.5px);
}
.Alarm .alarm-box .delete-controls {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
.Alarm .alarm-box .delete-controls button {
  margin: 0 7px;
  width: 45px;
  height: 33px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.Alarm .alarm-box .delete-controls button i {
  font-size: 20px;
  color: rgb(237, 112, 112);
}
.Alarm .alarm-box .delete-controls button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hide-btn {
  display: none;
}

@media (min-width: 800px) {
  .Alarm .addButton {
    right: 2%;
  }
  .Alarm .add-alarm-form {
    width: 400px;
    height: 550px;
    z-index: 1;
  }
  .Alarm .alarm-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 0 15px;
    margin: 20px;
  }
  .Alarm .alarm-list .alarm-box {
    width: 100%;
    margin: 0;
    height: 245px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .Alarm .alarm-list .alarm-box .alarm-time {
    font-size: 75px;
  }
  .Alarm .alarm-list .alarm-box .alarm-controls .alarm-label {
    font-size: 25px;
  }
  .Alarm .alarm-list .alarm-box:hover {
    transform: translateY(-4px);
    background-color: #343434;
    border: 1px solid grey;
  }
}
.Timer {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.Timer .addtimer {
  position: fixed;
  bottom: 2%;
  right: 4%;
  width: 100px;
  height: 53px;
  background-color: #3B3B3B;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Timer .addtimer button {
  outline: none;
  border: none;
  padding: 8px 9px;
  background-color: transparent;
  border-radius: 5px;
  margin: auto 2px auto 3px;
}
.Timer .addtimer button img {
  width: 25px;
}
.Timer .addtimer button:active {
  background-color: #505050;
}
.Timer .timer-box {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 96%;
  height: 267px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #3B3B3B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Timer .timer-box .label_controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.Timer .timer-box .label_controls .label {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 20px;
}
.Timer .timer-box .circle {
  width: 150px;
  height: 150px;
  border: 10px solid var(--half-white);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
}
.Timer .timer-box .timer-value {
  font-size: 35px;
  color: #fff;
}
.Timer .timer-box .timer-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.Timer .timer-box .timer-controls button {
  width: 40px;
  height: 40px;
  background-color: var(--half-white);
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.Timer .timer-box .timer-controls button img {
  width: 18px;
}
.Timer .timer-box .timer-controls button:first-child {
  background-color: var(--feature-color);
}
.Timer .timer-box .timer-controls button:last-child {
  background-color: var(--half-white);
  border: 1px solid #fff;
}
.Timer .timer-box .timer-controls button:last-child i {
  font-size: 20px;
  color: var(--primary-color);
  transform: rotateY(180deg);
}

@media (min-width: 800px) {
  .Timer .addtimer {
    right: 2%;
  }
  .Timer .timer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 15px;
    margin: 20px;
  }
}
.Stopwatch {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Stopwatch .runner {
  font-size: 100px;
  color: var(--default);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Stopwatch .runner .hours {
  width: 100px;
}
.Stopwatch .runner .minutes {
  width: 100px;
}
.Stopwatch .runner .seconds {
  width: 100px;
}
.Stopwatch .runner .milli-secs {
  width: 100px;
  font-size: 20px;
}
.Stopwatch .indicates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 67%;
  justify-content: space-around;
}
.Stopwatch .indicates span {
  font-size: 40px;
  color: #fff;
}
.Stopwatch .stopwatch-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.Stopwatch .stopwatch-controls button {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.07), -2px -2px 10px rgba(255, 255, 255, 0.07);
}
.Stopwatch .stopwatch-controls button img {
  width: 35px;
}
.Stopwatch .stopwatch-controls button:first-child {
  background-color: var(--feature-color);
}
.Stopwatch .stopwatch-controls button:nth-child(2) {
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
}
.Stopwatch .stopwatch-controls button:last-child {
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
}
.Stopwatch .stopwatch-controls button:last-child i {
  font-size: 35px;
  color: var(--primary-color);
  transform: rotateY(180deg);
}

.Settings {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
}
.Settings .title-settings {
  font-size: 50px;
  color: var(--secondary-color);
}
.Settings .setting-label {
  font-size: 20px;
  color: var(--secondary-color);
}
.Settings .options {
  width: 96%;
}
.Settings .options .option {
  background-color: var(--settings-option-bg);
  min-height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
}
.Settings .options .option .text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.Settings .options .option .text-area .option-title {
  font-size: 14px;
  color: #fff;
}
.Settings .options .option .text-area .option-desc {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.507);
}
.Settings .options .option .change-area {
  position: relative;
}
.Settings .options .option .change-area .option-dl-dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.Settings .options .option .change-area .option-dl-dis img {
  margin-left: 5px;
  width: 15px;
  transform: rotate(180deg);
}
.Settings .options .option .change-area .option-dl-dis:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.Settings .options .option .change-area .option-modes {
  position: absolute;
  background-color: rgba(83, 81, 84, 0.53);
  top: 115%;
  width: 130%;
  left: -37%;
  padding: 2px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(3px) saturate(0.5);
          backdrop-filter: blur(3px) saturate(0.5);
  display: none;
}
.Settings .options .option .change-area .option-modes li {
  list-style: none;
  font-size: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.Settings .options .option .change-area .show-option {
  display: block;
}
.Settings .about {
  display: flex;
  flex-direction: column;
}
.Settings .about span {
  font-size: 13px;
  color: var(--default);
  margin: 5px;
}
.Settings .about button {
  font-size: 13px;
  font-family: Poppins_Regular;
  color: #fff;
  width: 121px;
  height: 43px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins_Regular;
  outline: none;
}

.ClockApp {
  width: 100%;
  height: 100%;
}
.ClockApp .AppScreen {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  .ClockApp .AppScreen {
    width: 100%;
    height: 698px;
    display: flex;
  }
}